fastapi
uvicorn
python-dotenv
mysql-connector-python
SQLAlchemy
pydantic[email]
pyqrcode
cryptography
pillow
pypng
pyzbar
opencv-python
python-multipart
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
authlib
fastapi-pagination